openapi: 3.0.3
info:
  title: AdamMarczak.PL About Me Discovery API
  description: >-
    Lightweight discovery API manifest for AdamMarczak.PL. This helps AI assistants and
    crawlers understand Adam Marczak's about-me profile, achievements, and linked
    technical channels.
  version: 1.0.0
servers:
  - url: https://adammarczak.pl
paths:
  /search:
    get:
      summary: Search profile content and linked resources
      description: Search AdamMarczak.PL profile sections and linked Azure 4 Everyone YouTube resources by query.
      parameters:
        - name: q
          in: query
          description: Search query string
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A list of matching pages and videos
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  results:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/PageSummary'
                        - $ref: '#/components/schemas/VideoSummary'
  /page/{slug}:
    get:
      summary: Retrieve a single page
      description: Get metadata for a website page by slug.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Page metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageSummary'
  /youtube:
    get:
      summary: Browse Azure 4 Everyone YouTube videos
      description: Browse recent video titles and channel metadata from Adam Marczak’s Azure 4 Everyone channel.
      responses:
        '200':
          description: A list of recent videos
          content:
            application/json:
              schema:
                type: object
                properties:
                  channel:
                    type: string
                  url:
                    type: string
                  videos:
                    type: array
                    items:
                      $ref: '#/components/schemas/VideoSummary'
  /:
    get:
      summary: Get homepage profile
      description: Retrieve the main about-me page with profile and achievement highlights.
      responses:
        '200':
          description: Homepage HTML
components:
  schemas:
    PageSummary:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
        summary:
          type: string
        published_at:
          type: string
          format: date
        tags:
          type: array
          items:
            type: string
        category:
          type: string
        author:
          type: string
        source:
          type: string
    VideoSummary:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
        summary:
          type: string
        published_at:
          type: string
          format: date
        tags:
          type: array
          items:
            type: string
        youtube_id:
          type: string
        duration:
          type: string
        channel:
          type: string
